<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Login</title>
    <link rel="stylesheet" href="/static/industries_login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body class="body">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Welcome To The Company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Login</a>
            </li> -->
            <li class="nav-item ml-auto">
              <a class="nav-link ml-auto" href="/Employee_register">Register</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Benefits</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="split left" style="background-color:white;">
      <div class="centered">
        <div style="background-color:white; color:white;">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h3 class="animate-charcter">Tasks</h3>
                <h3 class="animate-charcter">Are Waiting</h3>
                <h3 class="animate-charcter">For</h3>
                <h3 class="animate-charcter">You!</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="split right" style="background-color:white;">
      <div class="centered">
        <h1>Login</h1>
        <div class="mb-3">
          <form method="post" action="/Employee">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Enter Email</label>
              <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="pass" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>